<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ambuf.product.examination.examsign.mapper.GjSignMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ambuf.product.examination.examsign.entity.GjSign">
		<id column="id" property="id" />
		<result column="exam_id" property="examId" />
		<result column="select_specialty" property="selectSpecialty" />
		<result column="select_sign_qualifications" property="selectSignQualifications" />
		<result column="id_card" property="idCard" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="born_time" property="bornTime" />
		<result column="phone" property="phone" />
		<result column="head_portrait_code" property="headPortraitCode" />
		<result column="educate_info" property="educateInfo" />
		<result column="supervisor_bureau" property="supervisorBureau" />
		<result column="work_unit" property="workUnit" />
		<result column="department" property="department" />
		<result column="join_work_time" property="joinWorkTime" />
		<result column="specialty" property="specialty" />
		<result column="specialty_work_time" property="specialtyWorkTime" />
		<result column="specialty_position" property="specialtyPosition" />
		<result column="engage_time" property="engageTime" />
		<result column="engage_years" property="engageYears" />
		<result column="member_status" property="memberStatus" />
		<result column="data_submit_status" property="dataSubmitStatus" />
		<result column="data_check_status" property="dataCheckStatus" />
		<result column="reject_reason" property="rejectReason" />
		<result column="pay_status" property="payStatus" />
		<result column="order_number" property="orderNumber" />
		<result column="bank_order_number" property="bankOrderNumber" />
		<result column="sign_status" property="signStatus" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="create_user" property="createUser" />
		<result column="update_user" property="updateUser" />
	</resultMap>

</mapper>